<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-DemoYoloPlugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>DemoYoloPlugin</name><js-module name="DemoYoloPlugin" src="www/DemoYoloPlugin.js"><clobbers target="cordova.plugins.DemoYoloPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="DemoYoloPlugin"><param name="ios-package" value="DemoYoloPlugin" /></feature></config-file><source-file src="src/ios/DemoYoloPlugin.m" /></platform></plugin>